/* import the required JSAPI css */
@import 'https://js.arcgis.com/4.3/esri/css/main.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';

.esri-view {
    height: 500px;
    width: 100%;
}
.middle{
    text-align: center;
}